.list-group{
    
    h5{
        font-size: 12px;
    }
}
.Emily{
    width: 40px;
    height:40px ;
    background-image: url(../images/emilywang.jpeg);
    background-size: cover;
}
.card-body{
    small{
        font-size: 12px;
        line-height: 1.2;
    }
}
.andy{
    width: 40px;
    height:40px ;
    background-image: url(../images/andychen.jpeg);
    background-size: cover;
}
